/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  filter: blur(25px);
}

.title_text {
  width: 150px;
  text-align: center;
  display: inline-block;
}

/* .box2 {
  background-image: url("https://image.tmdb.org/t/p/original/wt2TRBmFmBn5M5MBcPTwovlREaB.jpg");
} */
